/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
body {
  background: rgb(43, 43, 43);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.homePageHeader {
  display: flex;
  flex-direction: row;

  width: 100%;
  background: rgb(43, 43, 43);
  border-radius: 4px;
  text-align: center;
  padding-left: 50px;
  padding-top: 5px;
  margin-bottom: 0;
  justify-content: center;
}
// .homePageContainer {
//   display: grid;

//   justify-content: space-evenly;
//   margin: 0px 20px 20px 20px;
//   //align-items: center;
//   padding-top: 30px;
//   //  border-bottom: 0.5px solid rgb(197, 197, 197);
//   //box-shadow: 1px 1px 15px rgb(133, 133, 134);
//   // border: 1px solid blue;
//   //height: 100vh;
//   background: rgb(117, 117, 117);
//   border-radius: 10px;
//   border: 0.3px solid white;
// }
.logo {
  grid-row-start: 1;
  grid-row-end: 1;

  grid-column-start: 1;
  grid-column-end: 1;
  margin-left: 15px;
  background: rgb(63, 62, 62);
}
.headinghH1 {
  font-size: 20px;
  color: rgb(255, 255, 255);

  border-radius: 10px;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;

  justify-content: center;
  text-align: center;
  padding-top: 10px;
  border-bottom: 0.3px solid white;
  //border-bottom: 0.5px solid rgb(192, 187, 187);
}
.homePageAccountButton {
  border: none;
  background: none;
  grid-row-start: 1;
  grid-row-end: 1;

  grid-column-start: 3;
  grid-column-end: 3;
  height: 20px;
  border-radius: 50px;
  margin-right: 15px;
}
.homePageAccountButtons {
  border: none;
  background: none;
  grid-row-start: 1;
  grid-row-end: 1;

  grid-column-start: 3;
  grid-column-end: 3;
  height: 30px;
  border-radius: 40px;
  margin-right: 15px;
  text-align: center;
  justify-content: center;
  text-align: center;
  margin-right: 0px;
  margin-top: 0px;
}

.thingsToConsider {
  //display: grid;
  //padding-top: 200px;

  justify-content: center;
  margin-top: 70px;
  border-radius: 4px;
  background: rgb(255, 254, 254);
  // box-shadow: 0px 0px 55px rgb(158, 157, 157);
  text-align: center;
  width: 100vw;
}
.thingsToConsider h1 {
  font-size: 16px;
  //padding: 5px;
  //box-shadow: 1px 1px 5px rgb(133, 133, 134);
  //border-bottom: 0.5px solid rgb(192, 187, 187);
  text-align: center;
  //padding-top: 20px;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 20px;
  //border: 1px solid blue;

  grid-column-start: 1;
  grid-column-end: 1;
  padding-bottom: 20px;
}
.thingsToConsider p {
  //border: 1px solid rgb(18, 158, 18);
  text-align: center;

  padding: 10px;
  padding-bottom: 5px;
  //border-bottom: 0.5px solid rgb(192, 187, 187);
}
.thingsToConsider li {
  list-style: none;
  color: rgb(43, 43, 43);
}
.thingsToConsider a {
  list-style: none;
  color: rgb(43, 43, 43);
  border-bottom: 1px solid rgb(43, 43, 43);
}

div :nth-child(10) {
  padding-top: 50px;
  padding-bottom: 20px;
}
.skillLevel p {
  color: white;
}
.homePageHeader a {
  justify-content: center;
  text-align: center;
  width: 10px;
  font-size: 10px;
  color: white;
  position: relative;
  left: -40px;
  top: px;
}

.skillLevel {
  //display: grid;
  //padding-top: 200px;

  justify-content: center;
  margin-top: 70px;
  border-radius: 4px;
  background: rgb(253, 253, 253);
  // box-shadow: 0px 0px 55px rgb(158, 157, 157);
  text-align: center;
  width: 100vw;
  color: rgb(128, 128, 128);
  justify-items: center;
  display: grid;
}
.skillLevel p {
  color: rgb(63, 62, 62);
}

.skillLevel h1 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
}
.skillLevel h2 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  //box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
  justify-content: center;
}
.skillLevel p {
  width: 80%;
  // grid-row-start: 2;
}
.SkatingStyle {
  //display: grid;
  //padding-top: 200px;

  justify-content: center;
  margin-top: 70px;
  border-radius: 4px;
  background: rgb(253, 253, 253);
  // box-shadow: 0px 0px 55px rgb(158, 157, 157);
  text-align: center;
  width: 100vw;
  color: rgb(128, 128, 128);
  justify-items: center;
  display: grid;
  padding-top: 50px;
}
.SkatingStyle h1 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
}
.SkatingStyle h2 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.SkatingStyle p {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  // grid-row-start: 2;
  color: rgb(43, 43, 43);
}
.wheels {
  //display: grid;
  //padding-top: 200px;

  justify-content: center;
  margin-top: 70px;
  border-radius: 4px;
  background: rgb(253, 253, 253);
  // box-shadow: 0px 0px 55px rgb(158, 157, 157);
  text-align: center;
  width: 100vw;
  color: rgb(128, 128, 128);
  justify-items: center;
  display: grid;
  padding-top: 50px;
}
.wheels p {
  width: 80%;
  padding-top: 0px;
  padding-bottom: 0px;
  // grid-row-start: 2;
  color: rgb(43, 43, 43);
}
.wheels h1 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
}
.buyersguide a {
  color: rgb(43, 43, 43);
  border-bottom: 1px solid rgb(43, 43, 43);
}
.buyersguide {
  //display: grid;
  //padding-top: 200px;

  justify-content: center;
  margin-top: 70px;
  border-radius: 4px;
  background: rgb(253, 253, 253);
  // box-shadow: 0px 0px 55px rgb(158, 157, 157);
  text-align: center;
  width: 100vw;
  color: rgb(43, 43, 43);
  justify-items: center;
  display: grid;
  padding-top: 50px;
  padding-bottom: 5px;
}
.buyersguide h1 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
}
.buyersguide h2 {
  font-family: 'Times New Roman', Times, serif;
  //border-bottom: 0.3px solid grey;
  box-shadow: 1px 1px 5px rgb(43, 43, 43);
  color: rgb(43, 43, 43);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.buyersguide p {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  // grid-row-start: 2;
  color: rgb(43, 43, 43);
}
